{% extends 'base.html' %} {% block title %} About Us {% endblock %} {% block
content %}

<h1 class="text-center mb-3">About Pharmafacts</h1>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Free Information On FDA-Approved Medications</h5>
    <p class="card-text">
      Welcome to PharmaFacts, where you can find FDA-approved information on
      both prescription and over-the-counter medications. We utilize the free
      openFDA API to ensure you receive the most current information available.
      Please note that the content provided here is for informational purposes
      only and should not be considered medical advice. For any health concerns,
      we encourage you to consult with your healthcare provider. In case of an
      emergency, please call 911 and seek immediate assistance.
    </p>
  </div>
</div>
{% endblock %}
