<html>
  <head>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/flatly/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/e10f72a185.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %} PharmaFacts {% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-primary justify-content-between">
      <div class="container">
        <div class="d-flex align-items-center">
          <a href="/" class="navbar-brand text-light"
            ><i class="fa-solid fa-tablets"></i>
            PharmaFacts
            <i class="fa-solid fa-capsules"></i
          ></a>
        </div>
        <ul class="nav navbar-nav flex-row float-right">
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/about"> About </a>
          </li>
          {% if session['user_id'] %}
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/users/{{user.username}}"
              >{{user.username}}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item" ,>
            <a class="nav-link pr-3 text-light" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/register">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top: 2em">
      {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ msg }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
