{% extends 'base.html' %} {% block content %}
<h1>{{ user.username }}'s Page</h1>
<h3>Welcome {{ user.first_name }} {{ user.last_name }}</h3>
<div class="container">
  <div class="container">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Name: {{user.first_name }} {{user.last_name }}</p>
    <form
      style="display: inline"
      action="{{url_for('delete_user', username = user.username) }}"
      method="POST"
    >
      <button class="btn btn-danger btn-sm">
        <i class="fa-regular fa-trash-can"></i> Delete User
      </button>
    </form>
    <form
      style="display: inline"
      action="{{url_for('edit_user', username = user.username) }}"
      method="POST"
    >
      <button class="btn btn-secondary btn-sm">
        <i class="fa-regular fa-pen-to-square"></i> Edit User
      </button>
    </form>
  </div>
</div>

<!-- Eventually you want a section here that shows a users saved medications -->
<!-- NEXT STEP WHEN YOU COME BACK is UPDATING USER INFO! Let em change settings.  -->
{% endblock %}
