{% extends 'base.html' %}
{% block title %} {{ user.username}}'s Page {% endblock %}

{% block content %}
<h1>{{ user.username }}'s Page</h1>
<h3>Welcome {{ user.first_name }} {{ user.last_name }}</h3>
<div class="container">
  <div class="container">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Name: {{user.first_name }} {{user.last_name }}</p>
    <form
      style="display: inline"
      action="{{url_for('delete_user', username = user.username) }}"
      method="POST"
    >
      <button class="btn btn-danger btn-sm">
        <i class="fa-regular fa-trash-can"></i> Delete User
      </button>
    </form>
    <form
      style="display: inline"
      action="{{url_for('edit_user', username = user.username) }}"
      method="POST"
    >
      <button class="btn btn-secondary btn-sm">
        <i class="fa-regular fa-pen-to-square"></i> Edit User
      </button>
    </form>
  </div>
</div>
{% if bookmarks %}
<h1>Your Bookmarked Medications</h1>
<div id="accordion">
  {% for bookmark in bookmarks %}
  <div class="card">
    <div class="card-header" id="heading{{ loop.index }}">
      <h5 class="mb-0">
        <a
          href="#"
          class="btn btn-link"
          data-toggle="collapse"
          data-target="#collapse{{ loop.index }}"
          aria-controls="collapse {{ loop.index }}"
        >
          {{ bookmark.brand_name }}
        </a>
      </h5>
    </div>

    <div class="collapse" id="collapse{{ loop.index }}">
      <p class="card-text">
        <strong>Generic Name:</strong> {{ bookmark.generic_name }} <br />
        <strong>Active Ingredient(s):</strong> {{ bookmark.active_ingredient }}
        <br />
        <strong>Purpose:</strong> {{ bookmark.purpose }} <br />
        <strong>Warnings:</strong> {{ bookmark.warnings }} <br />
        <strong>Indications:</strong> {{ bookmark.indications }} <br />
        <strong>Dosage and Administration:</strong> {{ bookmark.dosage }}<br />
        <strong>Adverse Reactions:</strong> {{ bookmark.adverse_reactions }}<br />
        <strong>Storage and Handling:</strong> {{ bookmark.storage }}
        <form
        style="display: inline"
        action="{{url_for('remove_bookmark', id = bookmark.id) }}"
        method="POST"
      >
        <button class="btn btn-danger btn-sm">
            <i class="fa-solid fa-link-slash"></i> Remove Bookmark
        </button>
      </form>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
